{{#section 'head'}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/stylesheets/formStyle.css" rel="stylesheet">
{{/section}}
<div class="container main">
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <h2 class="title-Detail">{{{__ "Recipes List"}}}</h2>
        </div>
        <div class="col-lg-3">

        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Informations: "}}}</label>
                    <br>
                    <br>
                    <ul id="infos" class="info">

                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Errors"}}}</label>
                    <br>
                    <br>
                    <ul id="errors" class="error">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-6 details">
            <table id="recipesTable" class="table table-bordered table-hover">
                <caption>{{{__ "Recipe Management"}}}</caption>
                <thead>
                <tr>
                    <th>{{{__ "Ident"}}}</th>
                    <th>{{{__ "Name"}}}</th>
                    <th>{{{__ "LineIdent"}}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each recipes}}
                    <tr id="{{id}}">
                        <td><a href="/admin/recipe/recipeDetail/:{{id}}">{{ident}}</a></td>
                        <td>{{name}}</td>
                        <td>{{lineIdent}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <button id="newRecipe" class="btn btn-primary">{{{__ "New"}}}</button>
            <button id='deleteRecipe' class="btn btn-danger">{{{__ "Delete"}}}</button>
        </div>
    </div>
</div>

<div id="createNewRecipeDialog" title="{{{__ "Create new recipe"}}}">
    <p class="validateTips">{{{__ "All form fields are required."}}}</p>
    <form>
        <fieldset>
            <label for="ident">{{{__ "Ident"}}}</label>
            <input type="text" name="ident" id="ident" class="text ui-widget-content ui-corner-all">
            <br>
            <label for="lines">{{{__ "Line"}}}</label>
            <select name="lines" id="lines">
                <option value="-1"></option>
            </select>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

{{#section 'jquery'}}
    <script src="/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/recipes.js"></script>
    <!--<script src="/js/dialogLineIdent.js"></script>-->
{{/section}}
