{{#section 'head'}}
    <style>
        .title{
            padding-left: 25%;
            color: ghostwhite;
        }
        header{
            background-color: lightseagreen;
        }
        .right-button{
            padding-top: 50%;
        }
        .details{
            padding-top: 1%;
            background-color: #a7dbd8;
            padding-bottom: 15%;
        }
        .info{
            color: green;
        }
        .error{
            color: red;
        }
        #activeJobs, #scheduleJobs, #pendingJobs {
            border: 1px solid #eee;
            width: 142px;
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
        }
        #activeJobs li, #activeJobs li, #pendingJobs li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }
    </style>
{{/section}}
<div class="container main">
    <!--<input id="job" type="text" class="hidden" value="{{job}}"/>-->
    <!--<input id="lineId" type="text" class="hidden" value="{{job.LineId}}"/>-->
    <input type="text" class="hidden" id="recipe" value="{{recipe}}"/>
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <h2 class="title">{{{__ "Job Detail"}}}</h2>
        </div>
        <div class="col-lg-3">
            <a href="/job/jobList/:{{job.lineIdent}}">{{{__ "Job List"}}}</a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Infomations: "}}}</label>
                    <br>
                    <br>
                    <ul id="infos" class="info">

                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Errors"}}}</label>
                    <br>
                    <br>
                    <ul id="errors" class="error">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-6 details">
            <div class="">
                <ul id="activeJobs" class="connectedSortable">
                    <li class="ui-state-default">Item 1</li>
                    <li class="ui-state-default">Item 2</li>
                    <li class="ui-state-default">Item 3</li>
                    <li class="ui-state-default">Item 4</li>
                    <li class="ui-state-default">Item 5</li>
                </ul>
            </div>
            <div class="">
                <ul id="scheduleJobs" class="connectedSortable">
                    <li class="ui-state-default">Item 1</li>
                    <li class="ui-state-default">Item 2</li>
                    <li class="ui-state-default">Item 3</li>
                    <li class="ui-state-default">Item 4</li>
                    <li class="ui-state-default">Item 5</li>
                </ul>
            </div>
            <div class="">
                <ul id="pendingJobs" class="connectedSortable">
                    <li class="ui-state-highlight">Item 1</li>
                    <li class="ui-state-highlight">Item 2</li>
                    <li class="ui-state-highlight">Item 3</li>
                    <li class="ui-state-highlight">Item 4</li>
                    <li class="ui-state-highlight">Item 5</li>
                </ul>
            </div>



        </div>
        <div class="col-lg-3">
            <div class="btn-group right-button" role="group" aria-label="Basic example">
                <button id="checkJob" class="btn btn-primary">{{{__ "check Job"}}}</button>
                <button id="startJob" class="btn btn-danger">{{{__ "Start Job"}}}</button>
                <button id="doneJob" class="btn btn-danger">{{{__ "Done Job"}}}</button>
            </div>
        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script>
        $( function() {
            $( "#sortable1, #sortable2" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        } );
    </script>

{{/section}}